In [1]:
import logging

In [2]:
logging.basicConfig(filename="setfile.log",level=logging.INFO)

In [4]:
logging.info("Importing the set module from set package")

In [6]:
from Set_pack import set

In [7]:
logging.info("Declaring the set")
s = {1,3,5,7,2,4,6,8}

### Add function

In [10]:
logging.info("Using the add function element is added into the set")
set.add(s,10)

In [9]:
logging.info("Displaying the set")
logging.warning("Integer element is passed in the add function")

### Clear function

In [12]:
logging.info("Using clear function Delete all the elements of the set")
set.clear(s)
logging.warning("Set is passed into the function")

In [13]:
s

set()

### Copy function

In [14]:
logging.info("Copy function is used to shallow copy the original one to other variable")
s = {1,5,2,6,3,4,8,7,9}
logging.warning("Here I am declaring the new set")

In [15]:
s1 = set.copy(s)

In [16]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
set.add(s1,10)

In [19]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Difference function

In [21]:
logging.info("This function will return the uncommon elements in the first set")
s2 = {3,4,5,6,11,12,13}
logging.warning("I am declaring the second set")

In [22]:
set.difference(s1,s2)

{1, 2, 7, 8, 9, 10}

### Difference_update function

In [25]:
logging.info("This function will delete the uncommon elements in the first set")
s1 = {1,2,3,4,5,6}
s2 = {2,3,4,12,11}
set.difference_update(s1,s2)

In [26]:
s1

{1, 5, 6}

In [29]:
s1

{1, 2, 3, 4, 5, 6}

 ### Discard function

In [30]:
logging.info("It is used to delete the element that passes through the function")
logging.warning("If the passed element is not there in the set simply returns none")
set.discard(s1,4)

In [31]:
s1

{1, 2, 3, 5, 6}

In [32]:
set.discard(s1,10)

In [33]:
logging.warning("It simply returns the none 10 is not there in the set")

### Intersection function

In [34]:
logging.info("It will give the common elements between two sets")
s1 = {1,2,4,3,7,6}
s2 = {9,2,5,1,8,10}
set.intersection(s1,s2)

{1, 2}

### Intersection_update function

In [35]:
logging.info("It will delete the common elements in the first set")
s1 = {1,3,5,7,10,2,4,6}
s2 = {2,4,6,8,1,3,5}
set.intersection_update(s1,s2)

In [36]:
s1

{1, 2, 3, 4, 5, 6}

### Isdisjoint function

In [37]:
logging.info("It will return True or False whether two sets are disjoint or not")
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
set.isdisjoint(s1,s2)

True

### Issubset function

In [38]:
logging.info("It will return True or False whether the first set is subset of second set")
s1 = {1,2,3}
s2 = {1,2,3,4,5,6}
set.issubset(s1,s2)

True

### Issuperset function

In [39]:
logging.info("It will return true or false whether the first set is the superset of the second set")
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6}
set.issuperset(s1,s2)

True

### Pop function

In [40]:
logging.info("This will delete the top element(first element) of the set")
s = {1,2,3,4,5,6}
set.pop(s)

1

In [41]:
s

{2, 3, 4, 5, 6}

In [42]:
set.pop(s)

2

In [43]:
s

{3, 4, 5, 6}

### Remove function

In [44]:
logging.info("This will remove the element that passes through the function")
s = {1,2,3,4,5,6,7,8}
set.remove(s,8)

In [45]:
s

{1, 2, 3, 4, 5, 6, 7}

### symmetric_difference function

In [46]:
logging.info("It will return the elements uncommon from both sets")
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
set.symmetric_difference(s1,s2)

{1, 2, 3, 7, 8, 9}

### symmetric_difference_update function

In [47]:
logging.info("It will delete the common elements from the two sets")
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
set.symmetric_difference_update(s1,s2)

In [48]:
s1

{1, 2, 3, 7, 8, 9}

In [49]:
s2

{4, 5, 6, 7, 8, 9}

### Union function

In [50]:
logging.info("This will return the all elements from both sets")
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
set.union(s1,s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Update function

In [51]:
logging.info("This will add the new set to the existing set")
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
set.update(s1,s2)

In [52]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
s2

{6, 7, 8, 9, 10}